<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		 <!-- ETIQUETAS REFERENCIALES -->
	    <meta name="description" content="Tienda Online de Tecnología y Más.">
	    <meta name="keywords" content="tienda, compras, precio, ventas, ecomerce, comercio, online, store, TEM, tecnología, accesorios,
	    computadoras, impresoras, arduino, cables, teclados, mouses, keyboard, laptop">

	    <meta http-equiv="author" content="">

		<title>TEM Store - Tecnología, Electrónica y Más</title>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="../public/stylesheets/bootstrap.min.css"/>

  </head>
<body>

<!-- HEADER -->
<header>
  <div id="encabezado-superior">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a><i class="fa fa-phone"></i> +504 8882-2467</a></li>
        <li><a href="mailto:temstorehn@gmail.com"><i class="fa fa-envelope-o"></i> temstorehn@gmail.com</a></li>
        <li><a href="https://goo.gl/maps/N4Cdk8s9FdN2"><i class="fa fa-map-marker"></i>Bo. San Juan, Siguatepeque</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-user-o"></i> Usuario</a></li>
      </ul>
    </div>
  </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="logo.png" alt="Logo TEM Store" width="50px">
              TEM STORE&#174;
            </a>
          </div>
        </div>

        <!-- BARRA DE BÚSQUEDA -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">Categorías</option>
                <option value="1">En Promoción</option>
                <option value="1">Computadoras</option>
                <option value="1">Electrónica</option>
                <option value="1">Celulares</option>
                <option value="1">Accesorios</option>
                <option value="1">Impresoras</option>
                <option value="1">Cámaras</option>
              </select>
              <input class="input" placeholder="Artículo a buscar">
              <button class="search-btn">Buscar</button>
            </form>
          </div>
        </div>
        <!-- /BARRA DE BÚSQUEDA -->

        <!-- USUARIO -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Deseos -->
            <div>
              <a href="listadeseos.html">
                <i class="fa fa-heart-o"></i>
                <span>Deseos</span>
              </a>
            </div>
            <!-- /Deseos -->

            <!-- Carrito -->
            <div class="dropdown">
              <a href="carrito.html" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Carrito</span>
              </a>
            </div>
            <!-- /Carrito -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /USUARIO-->
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

<nav id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Computadoras</a></li>
        <li><a href="#">Celulares</a></li>
        <li><a href="#">Electrónica</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Impresoras</a></li>
        <li><a href="#">Cámaras</a></li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
