.footer-text{
    font-size: 12px;
}

.footer{
    background-color: #282c34;
    min-width: 100vw;
    font-size: calc(0,1px + 2vmin);
    color: white;
    padding: 1% 1%;
    position: fixed;
    bottom: 0;
   
}